/* RESET  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

--green : rgb(0, 231, 77);  

}






/* SETTING OF MAIN BLOCK  */


.container{
    max-width: 1170px;
    margin: 0 auto;

    /* debug */
    /* background-color: rgb(2, 2, 124); */
} 

.row{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

/* Colum Settings for Mobile-First*/

[class*="col-"]{
    flex: 0 0 auto;

    /* debug */
    background-color: rgb(0, 153, 255);
    border: 1px solid white;
    padding: 1em;
    text-align: center;
    color: white;
}

.col{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    max-width: 100%;
}




.col-1{
    flex-basis: calc(100% / 12 * 1);
    max-width: calc(100% / 12 * 1);
}

.col-2{
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.col-3{
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-5{
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-6{
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.col-7{
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.col-8{
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.col-9{
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.col-10{
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.col-11{
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.col-12{
    flex-basis: calc(100% / 12 * 12);
    max-width: calc(100% / 12 * 12);
}

/* Offsets Default Mobile-First */

.col-offset-1{
    margin-left: calc(100% / 12 *1);
}

.col-offset-2{
    margin-left: calc(100% / 12 *2);
}

.col-offset-3{
    margin-left: calc(100% / 12 *3);
}

.col-offset-4{
    margin-left: calc(100% / 12 *4);
}

.col-offset-5{
    margin-left: calc(100% / 12 *5);
}

.col-offset-6{
    margin-left: calc(100% / 12 *6);
}

.col-offset-7{
    margin-left: calc(100% / 12 *7);
}

.col-offset-8{
    margin-left: calc(100% / 12 *8);
}

.col-offset-9{
    margin-left: calc(100% / 12 *9);
}

.col-offset-10{
    margin-left: calc(100% / 12 *10);
}

.col-offset-11{
    margin-left: calc(100% / 12 *11);
}

.col-offset-12{
    margin-left: calc(100% / 12 *12);
}



/* Utility */


.back-green{
    background-color: var(--green);
}

.x-small{
    font-size: x-small;
}

.margin-btn-30{
    margin-bottom: 30px;
}

.min-h-50{
    min-height: 50px;
}